.signin-form-container {
  max-width: 400px;
  margin: 50px auto 0;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #f8f8f2;
}

.signin-form-container h2 {
  text-align: center;
  margin-bottom: 20px;
  font-weight: bold;
  color: #0b0b0b;
}

.signin-form-container p {
  font-size: 14px;
  color: #555;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  
  color: #2a45dc;
  margin-bottom: 5px;
}
.form-group1 label {
  display: block;
  
  color: #0e0e0e;
  margin-bottom: 5px;
}
.form-group1 input[type="email"] {
  width: 100%;
  padding: 8px;
  margin: 7px;
  color: #000;
  border: 1px solid #0e0101;
  border-radius: 4px;
  box-sizing: border-box;
  text-align: left; /* This ensures the text inside the input is aligned to the left */
}


.checkbox-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.checkbox-container input[type="checkbox"] {
  margin-right: 10px;
}

.checkbox-container a {
  color: #007bff;
  text-decoration: none;
}

.checkbox-container a:hover {
  text-decoration: underline;
}

.error-message {
  color: red;
  font-size: 14px;
  margin-bottom: 20px;
}

.form-actions {
  text-align: center;
}

.form-actions button {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

.form-actions button:hover {
  background-color: #0056b3;
}
