// Signin.scss
body {
  background-color: lavender;
}

.signin-form-container {
  max-width: 500px;
  margin: 50px auto 0;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
}

.logo-container {
  display: flex;
  justify-content: center;
}


.logo {
  width: 200px;
  height: 250px;
}

.signin-form {
  border: 1px solid #c6bfbf;
  padding: 10px;
  border-radius: 8px;
  background-color: #fff;
}

.signin-form-container h2 {
  text-align: center;
  font-weight: bold;
  color: #0b0b0b;
  font-size: 28px;
}

.signin-form-container p {
  // margin-bottom: 20px;
  font-size: 14px;
  color: #232323;
  text-align: center; /* Center text within the paragraph */
}
.form-group {
  font-weight: bold;

  margin-bottom: 20px;
}

.form-group label {
  display: block;
  color: #030303;
  font-weight: bold;
}


.form-group1 input[type="email"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 30px;
  font-weight: bold;
  color: #000;
  border: 1px solid #0e0101;
  border-radius: 4px;
  box-sizing: border-box;
  text-align: left;
}

.checkbox-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.checkbox-container input[type="checkbox"] {
  margin-right: 10px;
}

.checkbox-container a {
  color: #007bff;
  text-decoration: none;
}

.checkbox-container a:hover {
  text-decoration: underline;
}

.error-message {
  display: flex;
  justify-content: center;
  align-items: center;
  color: red;
  font-size: 14px;
  margin-bottom: 20px;
}


.form-actions {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
}

.form-actions button {
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  white-space: nowrap;
}

.signin-button {
  border: none;
  background-color: #007bff;
  color: #fff;
}

.signin-button:hover {
  background-color: #0056b3;
}

.signup-prompt {
  text-align: center;
  margin-top: 20px;
  font-size: 14px;
  color: #191818;

  a {
    color: #007bff;
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.loading-gif {
  width: 50px;
  height: 50px;
  background: url('/loading.gif') no-repeat center center;
  background-size: contain;
}
