body {
  background-color: lavender;
}

.signup-form-container {
  position: relative; /* Ensure positioning context for the pseudo-element */
  max-width: 600px;
  margin: auto;
  padding: 30px; /* Adjust padding to accommodate the inner border */
  background-color: #fffefd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;

  &::before {
    content: '';
    position: absolute;
    top: 30px;
    right: 20px;
    bottom: 20px;
    left: 20px;
    border: 1px solid #bbb6b6;
    border-radius: 8px;
    pointer-events: none; /* Ensure the pseudo-element doesn't interfere with content */
  }
}

.logo {
  width: 200px;
  height: 300px;
  margin-bottom: 20px;
}

h2 {
  margin-bottom: 10px;
  color: #333;
  font-size: 28px; /* Increased font size */
}

p {
  margin-bottom: 20px;
  font-size: 14px;
  color: #555;
}

.signup-form {
  .form-group {
    margin-bottom: 15px;

    label {
      display: block;
      margin-bottom: 10px;
      font-weight: bold;
      color: #333;
      text-align: left;
    }

    .input-row {
      display: flex;
      gap: 15px;
    }

    input {
      width: 100%;
      padding: 10px;
      border: 1px solid #0e0101;
      border-radius: 4px;
      font-size: 16px;
      color: #000;
      box-sizing: border-box;
    }

    small {
      display: block;
      margin-top: 5px;
      font-size: 12px;
      color: #999;
    }
  }

  .form-actions {
    display: flex;
    justify-content: center; /* Center buttons horizontally */
    gap: 20px; /* Space between buttons */
    margin-top: 20px;
    flex-wrap: wrap; /* Allow buttons to wrap on smaller screens */
    width: 100%; /* Ensure full width for container */
  }

  .submit-button,
  .signin-button {
    padding: 10px 20px; /* Adjust padding for buttons */
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px; /* Font size for buttons */
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px; /* Height of the button */
    white-space: nowrap; /* Prevent text wrapping */
    border: 1px solid transparent; /* Border to maintain layout */
    position: relative; /* Position context for loading GIF */
  }

  .submit-button {
    color: white;
    width: 150px;
    background-color: #0070f3;
    overflow: hidden; /* Hide overflow to fit loading GIF */
  }

  .submit-button img {
    position: absolute;
    width: 20px; /* Size of the loading GIF */
    height: 20px;
    margin-right: 8px; /* Space between GIF and text */
  }

  .submit-button:hover {
    background-color: #0f09b2;
  }

  .signin-button {
    background-color: #0070f3;
    border: 1px solid #ddd; /* Light border color */
    color: #fffdfd;
    width: 300px;
  }

  .signin-button:hover {
    background-color: #0f09b2;
  }
}
